html {  
    -webkit-box-sizing: border-box;  
            box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  :root {
   --white-color: #FFFFFF;   
   --dark-color: #181818;
   --grey-color: #5C5C5C;
   --blue-color: #4452FE;
   --lightblue-color:#43B6FF;
   --steelblue-color:#4682B4;
  }
  
  *,
   *::before,
   *::after {
   -webkit-box-sizing: inherit;
           box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }  
    
  @font-face {
    font-family: 'Graphik';
    src: url("../fonts/Graphik-Medium-Web.woff2") format("woff2"),
    url("../fonts/Graphik-Medium-Web.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Graphik';
    src: url("../fonts/Graphik-Regular-Web.woff2") format("woff2"),
    url("../fonts/Graphik-Regular-Web.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'Graphik', sans-serif;
    background-color: var(--dark-color);
  }
  
  h1, h2, h3, p {
    margin: 0;
  }
  
  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .btn {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: var(--white-color);
    border: 1px solid;
    cursor: pointer;       
  }

  .btn-transparent {
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
    -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
    transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
  }

  .btn-transparent:focus-visible:not(:active) {
    outline: 0;
    border-color: var(--lightblue-color);
  }

  .btn-transparent:hover {
    color: var(--lightblue-color);
    border-color: var(--lightblue-color);
  }

  .btn-transparent:active {
    background-color: var(--lightblue-color);
    color: var(--white-color);
    outline: 0;
  }

  .btn-blue {
    background-color: var(--blue-color);
    border: none;    
    -webkit-transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
    transition: opacity .3s ease-in-out, background-color .3s ease-in-out;
  }

  .btn-blue:focus-visible:not(:active) {
    opacity: 0.8;
    outline: 0;
  }

  .btn-blue:hover {
    background-color: var(--steelblue-color);    
  }

  .btn-blue:active {
    background-color: var(--lightblue-color);    
  }

  .container {
    max-width: 1087px;
    margin: 0 auto;           
  }

  .header {        
    padding-bottom: 35px; 
  }

  .header__container {
    margin: 0 auto;    
    padding-top: 31px;
    padding-bottom: 32px;          
    display: -webkit-box;        
    display: -ms-flexbox;        
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }  

  .header__logo {
    margin-right: 123px;    
  }

  .header__nav {
    margin-right: 120px;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;        
  }  

  .nav__item:not(:last-child) {
    margin-right: 51px;
  }

  .nav__link {
    font-size: 16px;    
    font-weight: 500;
    line-height: 24px;    
    color: var(--white-color);
    position: relative;   
    -webkit-transition: color .3s ease-in-out;   
    -o-transition: color .3s ease-in-out;   
    transition: color .3s ease-in-out; 
  }

  .nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    margin-bottom: -5px;
    background-color: var(--blue-color);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }

  .nav__link:focus-visible:not(:active) {
    outline: 1px solid var(--lightblue-color);
    outline-offset: 2px;
  }

  .nav__link:hover {
    color: var(--blue-color);
  }

  .nav__link:active {
    color: var(--steelblue-color);
  }
  
  .nav__link:active::after {
    opacity: 1;
    background-color: var(--steelblue-color);
  }

  .header__btn {
    padding: 15px 46px;    
  }  

  .hero__container {    
    margin: 0 auto;      
  }   
  
  .hero__content {
    padding-top: 60px;
    padding-bottom: 60px;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__title {
    margin-bottom: 35px;
    font-size: 80px;    
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white-color);       
  }

  .section-title {    
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--white-color);    
  }

  .section-descr {    
    font-size: 20px;    
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: var(--white-color);
    text-align: center;        
  }

  .hero__descr {
    max-width: 790px;   
    margin-bottom: 35px;    
  }

  .hero__buttons {    
    margin-bottom: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__btn {
    padding: 20px 40px;     
  }

  .hero__btn--left {
    margin-right: 40px;    
  }  

  .hero__images {
    position: relative;
    max-height: 993px; 
    -ms-flex-negative: 0; 
        flex-shrink: 0;
  }

  .hero__image--top {
    position: relative;
    height: 841px; 
    z-index: 1;     
  }  

  .hero__image--bottom {
    position: relative;
    height: 551px;
    top: -400px;    
  }  

  .bg-hero-img1 {
    background-image: url(../img/screens.png);
    background-repeat: no-repeat;
    background-position: top center;          
  }  

  .bg-hero-img2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
    background-repeat: no-repeat;  
    background-size: 100% 100%;    
  }

  .possibilities {
    padding-top: 160px;
    padding-bottom: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--dark-color);
  }

  .possibilities__title {
    padding: 0;
    margin-bottom: 29px;
  }

  .possibilities__descr {
    margin-bottom: 81px;    
  }

  .possibilities__content {    
    display: flex;      
  }  

  .bg-img1 {
    background-image: url(../img/Vector3.svg);
    background-repeat: no-repeat;
    background-position: left top 10px;
  }

  .bg-img2 {
    background-image: url(../img/Vector2.svg);
    background-repeat: no-repeat;
    background-position: left top 4px;
  }

  .bg-img3 {
    background-image: url(../img/Vector1.svg);
    background-repeat: no-repeat;
    background-position: left top 6px;
  }

  .list-item-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;    
    color: #fff;  
  }

  .list-item-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;    
    color: #fff;
  }

  .possibilities__content {    
    min-height: 759px;       
  }  

  .possibilities__content::before {
    content: "";    
    width: 780px;    
    background-image: url(../img/possibilities-img.png);        
  }

  .possibilities__heading {
    margin-bottom: 29px;
    padding-left: 38px;
  }

  .possibilities__heading--3 {
    padding-left: 48px;
  }

  .possibilities__list {
    width: 309px;
    padding-top: 128px;
    padding-left: 20px;    
    padding-right: 18px;   
  }

  .possibilities__text {    
    padding-left: 7px;
    padding-right: 10px;    
    width: 276px;
  }

  .possibilities__item:not(:last-child) {
    margin-bottom: 45px;    
  }

  .extensions {
    padding-top: 163px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;    
  }  

  .extensions__title {
    margin-bottom: 18px;
  }

  .extensions__descr {
    margin-bottom: 54px;
  }

  .extensions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .extensions__item {
    padding: 50px 40px 0 40px;
    width: calc((985px - 33px) / 2);
    min-height: 626px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;       
    -webkit-box-align: center;       
        -ms-flex-align: center;       
            align-items: center;    
    background-color: var(--white-color);
    border-radius: 10px;        
  }    

  .extensions__item--left::after {
    content: "";       
    width: 100%;
    height: 269px;      
  }

  .extensions-bg-img1::after {    
    background-image: url(../img/Macbook_Pro.png);   
    background-position: bottom 40px center;
    background-repeat: no-repeat;    
  }

  .extensions__item--right::after {
    content: "";    
    width: 100%;
    height: 340px;     
  }

  .extensions-bg-img2::after{
    background-image: url(../img/Boards_Notifications.png);
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .extensions__item:not(:last-child) {
    margin-right: 33px;
  }

  .extensions__heading {    
    margin-bottom: 30px;
    color: var(--black-color);
    text-align: center;
  }

  .extensions__text {    
    text-align: center;
    color: var(--grey-color);
  }

  .extensions__text--left {
    margin-bottom: 65px;
  }

  .extensions__text--right {
    margin-bottom: 39px;
  }

  .extensions__btn--1 {
    padding: 14px 46px;
    margin-bottom: 57px;        
  }

  .extensions__btn--2 {
    padding: 14px 46px;       
  }

  .gallery {
    padding-top: 160px;
    padding-bottom: 50px;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;  
    -webkit-box-pack: center;  
        -ms-flex-pack: center;  
            justify-content: center;
  }  

  .gallery__title {
    margin-bottom: 20px;
  }

  .gallery__descr {
    margin-bottom: 52px;
  }

  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gallery__list--small {
    display: none;
  }

  .gallery__item {
    height: 285px;
    margin-bottom: 44px;
    border-radius: 15px;
    overflow: hidden;    
  }  

  .gallery__item:not(:last-child) {
    margin-right: 33px;
  }  

  .gallery__item:nth-child(4) {
    margin-right: 0;
  }  

  .gallery__btn {
    margin: 0 auto;
    display: block; 
    padding: 13px 40px;    
  }

  .partners {
    padding-top: 164px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;         
  }

  .partners__title {
    margin-bottom: 15px;
  }

  .partners__descr {
    margin-bottom: 64px;
  }
  
  .partners__list {    
    margin-bottom: 44px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center; 
  }

  .partners__item:not(:last-child) {
    margin-right: 74px;
  }

  .partners__btn {
    display: block;
    margin: 0 auto;
    padding: 13px 37px;
  }

  .feedback {
    padding-top: 160px;
    padding-bottom: 150px;    
  }

  .feedback__title {
    margin-bottom: 59px;
  }

  .feedback__list {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;    
    -ms-flex-wrap: wrap;    
        flex-wrap: wrap; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;         
  }

  .feedback__item {
    padding: 40px;
    border-radius: 10px;
    border: 1px solid var(--white-color);
    width: calc((883px - 23px) / 2);
    min-height: 280px;  
    margin-bottom: 20px;       
  }

  .feedback__item:not(:nth-child(2n)) {
    margin-right: 23px;
  }

  .feedback__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .feedback__user {
    color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    margin-bottom: 24px;  
  }

  .feedback__avatar {
    margin-right: 12px;
  }

  .feedback__avatar img {
    border-radius: 100%;     
  }

  .feedback__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
  }

  .feedback__name,
  .feedback__post {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer {
    padding-top: 105px;
    padding-bottom: 107px;               
  }

  .footer__container {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;    
  }  

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 201px;    
  }

  .footer__nav .nav__item {
    margin-right: 0;
  }

  .footer__nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }

  .footer__nav .nav__item {
    padding: 0;
  }

  .footer__item:not(:last-child) {
    margin-right: 87px;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-bottom: 19px;
  }

  .footer__heading {
    margin-bottom: 40px;
  }

  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
  }

  .footer__address {      
    margin-bottom: 4px;       
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }

  .footer__address-text {
    padding-left: 8px;
  }

  .footer__address:focus-visible:not(:active) {    
    outline: 1px solid var(--lightblue-color);    
  }

  .footer__address:hover {
    color: var(--blue-color);
  }

  .footer__address:active {
    color: var(--steelblue-color);
  }

  .footer__address svg path {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .footer__address:hover svg path {
    fill: var(--blue-color);
  }

  .footer__address:active svg path {
    fill: var(--steelblue-color);
  }  

  .footer__phone {    
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }

  .footer__phone:focus-visible:not(:active) {    
    outline: 1px solid var(--lightblue-color);    
  }

  .footer__phone:hover {
    color: var(--blue-color);
  }

  .footer__phone:active {
    color: var(--steelblue-color);
  }

  .footer__phone svg path {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .footer__phone:hover svg path {
    fill: var(--blue-color);
  }

  .footer__phone:active svg path {
    fill: var(--steelblue-color);
  }  

  .footer__address,
  .footer__phone {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.2px;
    color: var(--white-color);
  }  

  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .social__item:not(:last-child) {
    margin-right: 24px;
  }

  .social__link {
    display: block;
  }

  .social__link:focus-visible:not(:active) {    
    outline: 1px solid var(--lightblue-color);    
  }

  .social__link svg path {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }

  .social__link:hover svg path{
    fill: var(--blue-color);
  }

  .social__link:active svg path{
    fill: var(--steelblue-color);
  }